main {
    width: 80%; 
    margin: 1rem auto;

}
li{
    list-style: none;
}
#title {
  text-align: center;
}
.actions .button {
    margin-bottom: 0;
    margin-top:0;
}

.flickName {
    margin: 0 0.75rem;
}

.template {
    display: none;

}